    <div class="credits text-center">
        <p>
            <a href="http://#">User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://#">footer.com</a>
        </p>
    </div>
</body>
</html>